@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin absCenter {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/* 
0 - 600px: Phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply (desktop - first approach)
1800px + : Big desktops



$breakpoint argument choices:

-phone
-tab-port
-tab-land
-big-desktop 



new pts to remember : $breakpoint , @if ,  @content 

units of media query has to be in 'em' (donot use rem as it doesnot support in some browsers)
1 em = 16 px (default browser dimension)


ORDER FOR WRITING MEDIA QUERIES 
Base + Typography > general layout + grid > page layout > components */

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {   // 600px/16
            @content;
        }
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {   // 900px/16
            @content;
        }
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {  // 1200px/16
            @content;
        }
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {   // 1800px/16
            @content;
        }
    }
}

/* if someone wants to print then the media queries will not apply, so we use 'only screen and' */