.btn {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all 0.2s;
  
      position: relative;
      font-size: $default-font-size;

      // for submit button <button>
      border: none;
      cursor: pointer;
    }
  
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active,
    &:focus {
      // :focus is only for <button>
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

  // for white button
    &--white {
      color: $color-grey-dark;
      background-color: $color-white;
  
      &::after {
        background-color: $color-white;
      }
    }

  // for green button
    &--green {
      color: $color-white;
      background-color: $color-primary;
  
      &::after {
        background-color: $color-primary;
      }
    }
  
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      border-radius: 10rem;
      transition: all 0.4s;
    }
  
    &--animated {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
    }
  }

// button text - used in about section

.btn-text {

  &:link,
  &:visited {
    font-size: $default-font-size;
    text-decoration: none;
    color: $color-primary;
    display: inline-block;
    padding: .3rem;
    border-bottom: .1rem solid $color-primary;
    transition: all .2s;

  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-.2rem);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);

  }

}

.btn-inherit {
  font-family: inherit;
}
  